@media (min-width: 768px) {
    .section-title {
        font-size: 3rem;
    }

   
    /* Hide all elements with a class except for the div with class "section" and "service" */
    .section:not(.section.service),.header-menu-button,.main-slider {
        display: none;
    }

     .top-header-menu {
        display: block !important;
    }

    .container .row
        {
    margin-right: -4rem;

        }

    br {
            /* hide the BR tag for wider screens (i.e. no line break) */
            display: none; 
          }

    .content {
        position: relative;
    }
    footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
 

   }

    .in-content{
        position: absolute;
        top: 50%;
        left: 50%;
        /* width: unset !important; */
        transform: translate(-50%, -50%);
        height: unset !important;
    }

    /* change font h5 */
    h5 {
        font-size: unset !important;
    }
}